<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json"
               mimeType="application/json" />
      <remove fileExtension=".apk" />
      <mimeMap fileExtension=".apk"
               mimeType="application/vnd.android.package-archive" />
      <remove fileExtension=".ipa" />
      <mimeMap fileExtension=".ipa"
               mimeType="application/iphone" />
      <remove fileExtension=".manifest"/>
      <mimeMap fileExtension=".manifest"
               mimeType="text/cache-manifest" />
    </staticContent>
  </system.webServer>
</configuration>
